body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff7ea;
}

.content {
  text-align: center;
  margin-top: 100px;
  margin-left: 200px;
}

.Shop {
  margin-top: 100px;
  margin-left: 10px;
  width: 540;
  height: auto;
}
.Shopp {
  /* margin-top: 300px; */
  margin-left: 10px;
  width: 34.53%;
  height: auto;
}
.image-container img {
  margin-right: 10px; /* Add space to the right of each image */
}

.column-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  margin-top: 50px;
}

.image-wrapper {
  margin-right: 33.3%; /* Adjust the space between images */
}

/* Optional: Remove margin from the last image to avoid extra space */
.image-wrapper:last-child {
  margin-right: 0;
  margin-top: 5%;
}

/* Optional: Ensure images don't exceed their container */
.image-wrapper img {
  max-width: 100%;
  height: auto;
}
.Browse:hover {
  background-color: #3c5c8c;
}

.Browse a {
  text-decoration: none;
  color: #fff;
}
.Browse {
  background-color: #7c9ed0;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
